[submodule "helm/testapi"]
	path = helm/testapi
	url = http://github.com/zhaohuabing/testapi.git
[submodule "myself/operator/etcd-operator"]
	path = myself/operator/etcd-operator
	url = https://github.com/coreos/etcd-operator
[submodule "myself/ray_stu/kuberay-helm"]
	path = myself/ray_stu/kuberay-helm
	url = https://github.com/ray-project/kuberay-helm.git
    ignore = all
[submodule "myself/ray_stu/kuberay"]
	path = myself/ray_stu/kuberay
	url = https://github.com/ray-project/kuberay.git
    ignore = all
[submodule "myself/operator/operator_stu/kubebuilder/i-operator"]
	path = myself/operator/operator_stu/kubebuilder/i-operator
	url = https://github.com/lixd/i-operator.git
[submodule "myself/operator/operator_stu/kubebuilder/i-operator-myself"]
	path = myself/operator/operator_stu/kubebuilder/i-operator-myself
	url = https://github.com/howu911/i-operator-myself.git
[submodule "myself/ray_stu/ray"]
	path = myself/ray_stu/ray
	url = https://github.com/ray-project/ray.git
[submodule "myself/ray_stu/ray_serve/distilbert-base-uncased-finetuned-sst-2-english"]
	path = myself/ray_stu/ray_serve/distilbert-base-uncased-finetuned-sst-2-english
	url = https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english
[submodule "myself/sche_stu/i-scheduler-extender"]
	path = myself/sche_stu/i-scheduler-extender
	url = https://github.com/lixd/i-scheduler-extender.git
[submodule "myself/sche_stu/i-scheduler"]
	path = myself/sche_stu/i-scheduler
	url = https://github.com/lixd/i-scheduler.git
[submodule "HAMi"]
	path = myself/vgpu/HAMi
	url = https://github.com/Project-HAMi/HAMi.git
